##############################
# IntelliJ
##############################
.idea/
*.iml
out/

##############################
# Eclipse leftovers
##############################
.project
.classpath
.settings/
.metadata/

##############################
# Build folders
##############################
build/
target/
bin/
out/

##############################
# Compiled Java
##############################
*.class

##############################
# Logs
##############################
*.log

##############################
# OS
##############################
.DS_Store
Thumbs.db

##############################
# DB credentials (optional)
##############################
db.properties