<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
	<h1>Welcome to an images management application</h1>
	<h2>Login:</h2> 
	<form action="Login"
		method="POST">
		username: <input type="text" name="username" required> <br>
		password: <input type="password" name="pwd" required><br> <input
			type="submit" value="login">
			<p th:text=" ${errLogMsg}"></p>
	</form>
	<h2>Registration:</h2>
	<form action="SubmitRegistration"
		method="POST">
		username: <input type="text" name="username" required> <br>
		e-mail: <input type="text" name="mail" required> <br>
		password: <input type="password" name="pwd" required> <br> 
		repeat password: <input type="password" name="checkpwd" required> <br> <input
			type="submit" value="registration">
			<p th:text=" ${errRegMsg}"></p>
	</form>
</body>
</html>